@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');

* {
  font-family: "Aclonica", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  position: relative;
  min-height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#mpForm, #productForm, #costoForm {
  display: flex;
  justify-content: center;
  
  display: none;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.7),  
    rgba(0, 0, 0, 0.7)  
  );
  pointer-events: none; 
  z-index: -1;
}

.boton-registros {
  display: flex;
  justify-content: center;
}

tabla-informe-costo {
  display: flex;
  justify-content: center;
  align-items: center;
}

#inicio {
  color: #ae4bc7;
  font-size: 1.5rem;
  text-decoration: none;
  position: absolute;
  z-index: 2;
  margin-right: 80%;
  margin-bottom: 810px;
}

#inicio:hover {
  color: #8d1ea8;
}

.imagen-head {
  height: 200px;
}

.iconos {
  height: 8rem;
}

.title {
  color: #ae4bc7;
  margin-bottom: 780px;
  position: absolute;
  z-index: 1;
  font-size: 3rem;
}

#contenedor-texto {
  text-align: center;
  margin-top: 20px;
  z-index: 1;
  color: #ffffff;
}

#contenedor-imagenes {
  z-index: 1;
  justify-content: space-around;
  width: 100vw;
  display: flex;
}

.imagenes-principal {
  border-radius: 10px;
  z-index: 1;
}

#inventario,#informecuatro, #produccion, #Costos-indirectos, #calcular-productividad, #calcularManoDeObra, #informeuno, #informedos, #informetres {
  border: none;
  color: #ffffff;
  background-color: #8d1ea8;

}
#inventario:hover,#informecuatro:hover, #produccion:hover, #Costos-indirectos:hover, #calcular-productividad:hover, #calcularManoDeObra:hover, #informeuno:hover, #informedos:hover, #informetres:hover {
  border: none;
  color: #ffffff;
  background-color: #ae4bc7;

}

tabla-informe {
  display: flex;
  justify-content: center;
  width: 90%;
  z-index: 2;
}
tabla-informe-lote {
  display: flex;
  justify-content: center;
  width: 90%;
  z-index: 2;
}
tabla-obra{
  display: flex;
  justify-content: center;
  width: 90%;
}

header {
  z-index: 0;
  margin-top: 0;
  margin-bottom: 900px;
  position: absolute;
  height: 250px;
  width: 100vw;
}


#contenedor-principal {
  width: 95vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.menu-opciones {
  z-index: 1;
  margin-bottom: 50px;
  border-radius: 10px;
  margin-top: 20px;
  height: 100px;
  background-color: #ae4bc7;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80vw;
}

#tarjeta {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 18rem;
  transition: 0.5s ease;
}

#tarjeta:hover {
  transform: scale(1.1);
}

#cards {
  width: 80vw;
  gap: 10px;
  justify-content: space-evenly;
  display: flex;
}

#inf, #cal, #reg {
  color: #ffffff;
}

#reg:hover, #inf:hover, #cal:hover {
  color: #ae4bc7;
}

#opcion {
  background-color: #ae4bc7;
  margin: 2%;
  transition: all 0.5s ease;
}

#opcion:hover {
  color: rgba(19, 19, 19, 1);
  background-color: #efb7fd;
  padding: 20px 50px;
  cursor: pointer;
}

.estilo {
  border-radius: 10px;
  padding: 20px;
  color: #ffffff;
  width: 98vw;
  background-color: rgba(19, 19, 19, 0.7);
}

#cards {
  color: #ffffff;
  z-index: 1;
}

@media (max-width: 780px) {
  body {
    height: auto;
    padding-bottom: 100px;
    justify-content: flex-start;
  }

  #inicio {
    color: #ffffff;
    margin-top: 115px;
    margin-right: 0;
    margin-bottom: 0;
    font-size: 1rem;
  }

  .imagen-head {
    height: 150px;
  }

  .iconos {
    height: 6rem;
  }

  .title {
    margin-top: 15px;
    text-align: center;
    margin-bottom: 0;
    font-size: 2rem;
  }

  #contenedor-imagenes {
    flex-direction: column;
    align-items: center;
  }

  .imagenes-principal {
    width: 80%;
    margin-bottom: 20px;
  }

  .menu-opciones {
    margin-top: 150px;
    width: 70vw;
    height: 210px;
    align-items: center;
    flex-direction: column;
    padding: 10px;
  }

  #cards {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  #opcion {
    width: 80%;
    margin: 10px 0;
  }

  #tarjeta {
    height: auto;
  }

  #contenedor-principal {
    width: 100%;
  }

  tabla-informe {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  tabla-informe-costo {
    width: 95%;
  }
  tabla-informe-lote {
    display: flex;
    justify-content: center;
    width: 95%;
  }
  tabla-obra{
    display: flex;
    justify-content: center;
    width: 95%;
  }


  header {
    height: 100px;
    margin-bottom: 0;
  }

  #opcion {
    text-align: center;
  }

  body::before {
    height: 100%;
  }
  #mpForm, #productForm, #costoForm {
    
    width: 95vw;
    
  }
  #descripcion-costo{
    width: 90%;
  }
  #inventario,#informecuatro, #produccion, #Costos-indirectos, #calcular-productividad, #calcularManoDeObra, #informeuno, #informedos, #informetres {
    margin-top: 10px;
    
  }
  #contenedor-texto{
    width: 80%;
  }
}

@media(max-height:800px) and (min-width: 781px){
  header{
    margin-top: 100px;
  }
  .title{
    margin-top: 130px;
  }
  #inicio{
    margin-top: 160px;
  }
  
}